<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homepage</title>
</head>
<body>
        <h1>Share2Teach</h1>
        <nav>
            <a href="#">Home</a>
            <a href="{% url 'subjects'%}">subjects</a>
            <a href="#">FAQ</a>
            <a href="#">contributers</a>
            
    <h1>Share2Teach</h1>
    <nav>
        <a href="#">Home</a>
        <a href="http://127.0.0.1:5501/share2teach/base/templates/subjects.html">Subjects</a>
        <a href="#">FAQ</a>
        <a href="#">Contributors</a>
        
    </nav>

    <a href="http://127.0.0.1:8000/upload/">Upload</a> <!-- This is the upload link -->

    <h2>Search</h2>
    <form method="GET" action="http://127.0.0.1:5501/share2teach/base/templates/searchresults.html">
        <input type="text" name="q" placeholder="Search...">
        <button type="submit">Search</button>
    </form>
</body>
</html>