{%  extends "base.html" %}
{% block title %} Home Page {% endblock %}
{%  block content %}
    <h1>Share2Teach</h1>
    <nav>
        <a href="">Home</a>
        <a href="{% url 'subjects'%}">subjects</a>
        <a href="{% url 'faq_list' %}">FAQ</a>
        <a href="#">contributers</a>
        {% if user.is_authenticated %}
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form> <!-- MOREMI : LOGOUT FUNCTION -->
        {% endif %}

    </nav>
    <h2>Search</h2>
{% endblock %}
