{% extends "base.html" %}
{% block title %} Self-Directed Learning Page {% endblock %}
{% block content %}

<h1 style="text-align: center; font-weight: bold;font-size: 36px;">Self-Directed Learning</h1>
<h1 style="text-align: center; font-weight: bold;font-size: 36px;">Welcome to the Self-Directed Learning Page!</h1>
</br>
</br>
</br>

<p>NWU Research Unit Self-Directed Learning. <a href="https://education.nwu.ac.za/research-unit-self-directed-learning/home" target="_blank"> CLICK HERE</a></p>
<br>
<ul>
    <li><a href="https://aosis.co.za/portfolio/innovative-curriculum-design-bridging-the-theory-practice-divide-in-work-integrated-learning-to-foster-self-directed-learning/" target="_blank">Innovative curriculum design: Bridging the theory–practice divide in work-integrated learning to foster Self-Directed Learning</a></li>
    <li><a href="https://aosis.co.za/portfolio/problem-based-learning-and-pedagogies-of-play-active-approaches-towards-self-directed-learning/" target="_blank">Problem-based learning and pedagogies of play: Active approaches towards Self-Directed Learning</a></li>
    <li><a href="https://aosis.co.za/portfolio/contextualised-open-educational-practices-towards-student-agency-and-self-directed-learning/" target="_blank">Contextualised open educational practices: Towards student agency and self-directed learning</a></li>
    <li><a href="https://aosis.co.za/portfolio/self-directed-learning-in-the-era-of-the-covid-19-pandemic-research-on-the-affordances-of-online-virtual-excursions/" target="_blank">Self-Directed Learning in the era of the COVID-19 pandemic: Research on the affordances of online virtual excursions</a></li>
    <li><a href="https://aosis.co.za/portfolio/learning-through-assessment-an-approach-towards-self-directed-learning/" target="_blank">Learning through assessment: An approach towards self-directed learning</a></li>
    <li><a href="https://aosis.co.za/portfolio/blended-learning-environments-to-foster-self-directed-learning/" target="_blank">Blended learning environments to foster Self-Directed Learning</a></li>
    <li><a href="https://aosis.co.za/portfolio/becoming-a-teacher-research-on-the-work-integrated-learning-of-student-teachersdirected-learning-research-and-its-impact-on-educational-practice-3/" target="_blank">Becoming a Teacher: Research on the work-integrated learning of student teachers</a></li>
    <li><a href="https://aosis.co.za/portfolio/self-directed-multimodal-learning-in-higher-education/" target="_blank">Self-directed multimodal learning in higher education</a></li>
    <li><a href="https://aosis.co.za/portfolio/self-directed-learning-an-imperative-for-education-in-a-complex-society/" target="_blank">Self-Directed Learning: An imperative for education in a complex society</a></li>
    <li><a href="https://aosis.co.za/portfolio/self-directed-learning-for-the-21st-century-implications-for-higher-education/" target="_blank">Self-Directed Learning for the 21st Century: Implications for Higher Education</a></li>
    <li><a href="https://aosis.co.za/portfolio/self-directed-learning-research-and-its-impact-on-educational-practice-2/" target="_blank">Self-directed learning research and its impact on educational practice</a></li>
    <li><a href="https://aosis.co.za/portfolio/the-decolonisation-of-the-curriculum-project-the-affordances-of-indigenous-knowledge-for-self-directed-learning/" target="_blank">The decolonisation of the curriculum project: The affordances of indigenous knowledge for self-directed learning</a></li>
</ul>

<p>How to implement SDL?</p>

<p>Examples of blended learning?</p>

{% endblock content %}
